<form >
  <div class="form-group">
      <label  id="user_label" for="validationDefault01">First Name</label>
      <input type="text" class="form-control" id="user_input" placeholder="First Name" required>
  </div>
  <div class="form-group">
      <label  id= "user_label" for="validationDefault02">Last Name</label>
      <input type="text" class="form-control" id="user_input" placeholder="Last Name" required>
  </div>
  <div class="form-group">
      <label id="user_label" for="validationDefault03">Employee ID</label>
      <input type="text" class="form-control" id="user_input" placeholder="Employee ID" required>
  </div>
  <div style="margin-left: 160px">
  <button style="width:10%" class="btn btn-primary" type="submit">Add</button>
  <button style="width:10%" class="btn btn-primary">Reset</button>
  </div>
</form>
<hr id="user_hr">
<br><br>
<table>
<thead>
  <tr>
    <th sortable-column="id">Employee Id</th>
    <th sortable-column="firstName">First Name</th>
    <th sortable-column="lastName">Last Name</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let user of users">
    <td>{{user._id}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
  </tr>
</tbody>
</table> 