<div id="topbar">
    Project Manager
</div>     
<br><br>
<div class="row">
   <div class="col-2">    
        <button class="unstyled fa fa-home" id="btn_hlght" routerLink="/"></button>
   </div>
   <div class="col-2">  
        <button class="unstyled" id="btn_hlght">Add Project</button>
   </div>
   <div class="col-2">
        <button class="unstyled" id="btn_hlght">Add Task</button>
   </div>
   <div class="col-2">
        <button class="unstyled" id="btn_hlght" routerLink="/user">Add User</button>
   </div>
   <div class="col-2">
        <button class="unstyled" id="btn_hlght">View Task</button>
   </div>
 </div>   
 <br>
<hr>
<router-outlet></router-outlet>


